1.txt
[{"id":"5f8b7644.e1ff28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e00c0ff.ab379","type":"rpi-gpio out","z":"5f8b7644.e1ff28","name":"Green LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":730,"y":260,"wires":[]},{"id":"e1d4a21f.4f3bc","type":"inject","z":"5f8b7644.e1ff28","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":40,"wires":[[]]},{"id":"dda1b0b5.7ea53","type":"inject","z":"5f8b7644.e1ff28","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[[]]},{"id":"7d31da59.3b3204","type":"rpi-gpio in","z":"5f8b7644.e1ff28","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":130,"y":280,"wires":[["20c15c77.b45804"]]},{"id":"20c15c77.b45804","type":"switch","z":"5f8b7644.e1ff28","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["ba204d75.d3eff"],["6002c2bf.7a7acc"]]},{"id":"ba204d75.d3eff","type":"change","z":"5f8b7644.e1ff28","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["8e00c0ff.ab379"]]},{"id":"6002c2bf.7a7acc","type":"change","z":"5f8b7644.e1ff28","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["8e00c0ff.ab379"]]}]