2.txt
[{"id":"6fe2b35b.a3711c","type":"tab","label":"MCS","disabled":false,"info":""},{"id":"d7f9263f.1c6818","type":"inject","z":"6fe2b35b.a3711c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["432e801f.a5b1f"]]},{"id":"432e801f.a5b1f","type":"function","z":"6fe2b35b.a3711c","name":"Payload","func":"msg.headers={\n    deviceKey: \"TB0SBkzctuz8n183\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["d99bac93.bfb03","3ce8f6f8.052b3a"]]},{"id":"d99bac93.bfb03","type":"http request","z":"6fe2b35b.a3711c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcKcrX4L/datachannels/Temperature/datapoints.csv","tls":"","x":550,"y":220,"wires":[["7554090b.7b2b28","e32a21be.d53d1"]]},{"id":"7554090b.7b2b28","type":"http response","z":"6fe2b35b.a3711c","name":"","statusCode":"","headers":{},"x":730,"y":220,"wires":[]},{"id":"e32a21be.d53d1","type":"debug","z":"6fe2b35b.a3711c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"3ce8f6f8.052b3a","type":"http request","z":"6fe2b35b.a3711c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DcKcrX4L/datachannels/Humidity/datapoints.csv","tls":"","x":540,"y":420,"wires":[["a0260fe0.e98d1","48d356e8.ce1bc8"]]},{"id":"a0260fe0.e98d1","type":"http response","z":"6fe2b35b.a3711c","name":"","statusCode":"","headers":{},"x":740,"y":420,"wires":[]},{"id":"48d356e8.ce1bc8","type":"debug","z":"6fe2b35b.a3711c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":520,"wires":[]}]