3.txt
[{"id":"30cf596e.092f86","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f1ec356.6fbb2d","type":"inject","z":"30cf596e.092f86","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["d57930fe.52002"]]},{"id":"d57930fe.52002","type":"function","z":"30cf596e.092f86","name":"Playload","func":"msg.headers={\n    deviceKey: \"TB0SBkzctuz8n183\"\n    };\n    \nmsg.payload= \"Temperature,,68\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["99721404.477a28"]]},{"id":"99721404.477a28","type":"http request","z":"30cf596e.092f86","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DcKcrX4L/datapoints.csv","tls":"","x":490,"y":140,"wires":[["1d702148.6247df","ab5c0472.499b68"]]},{"id":"1d702148.6247df","type":"http response","z":"30cf596e.092f86","name":"","statusCode":"","headers":{},"x":650,"y":60,"wires":[]},{"id":"ab5c0472.499b68","type":"debug","z":"30cf596e.092f86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]}]