4.txt
[{"id":"4226425e.0857dc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7c6126db.17d6c8","type":"http in","z":"4226425e.0857dc","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":140,"wires":[["d1a36b3a.95e1a8"]]},{"id":"ac2fc952.7e6c28","type":"rpi-gpio in","z":"4226425e.0857dc","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":300,"wires":[["22c8abe4.335524"]]},{"id":"22c8abe4.335524","type":"function","z":"4226425e.0857dc","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["f6f7563c.cc18b8"]]},{"id":"d1a36b3a.95e1a8","type":"function","z":"4226425e.0857dc","name":"Get GPIO","func":"msg.payload =global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["f27f1c2d.dfec1","f6f7563c.cc18b8"]]},{"id":"f27f1c2d.dfec1","type":"http response","z":"4226425e.0857dc","name":"","statusCode":"","headers":{},"x":690,"y":140,"wires":[]},{"id":"f6f7563c.cc18b8","type":"debug","z":"4226425e.0857dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":300,"wires":[]}]