5.txt
[{"id":"ee74adca.c035","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ceacd72c.be6d58","type":"http in","z":"ee74adca.c035","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["74e41752.9166a8","f0a0f56a.e7f5e8"]]},{"id":"74e41752.9166a8","type":"function","z":"ee74adca.c035","name":"Set to 1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["822ab817.e52e68"]]},{"id":"822ab817.e52e68","type":"rpi-gpio out","z":"ee74adca.c035","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":640,"y":500,"wires":[]},{"id":"f0a0f56a.e7f5e8","type":"function","z":"ee74adca.c035","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["555812c.3ae0aec","29814a8d.cbdae6"]]},{"id":"555812c.3ae0aec","type":"http response","z":"ee74adca.c035","name":"","statusCode":"","headers":{},"x":670,"y":220,"wires":[]},{"id":"29814a8d.cbdae6","type":"debug","z":"ee74adca.c035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"a7593fdf.4e593","type":"http in","z":"ee74adca.c035","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":230,"y":520,"wires":[["4a04720c.12f95c","aa1dfe84.9f1a2"]]},{"id":"4a04720c.12f95c","type":"function","z":"ee74adca.c035","name":"Clear to 0","func":"msg.payload =0;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["822ab817.e52e68"]]},{"id":"aa1dfe84.9f1a2","type":"function","z":"ee74adca.c035","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["555812c.3ae0aec","29814a8d.cbdae6"]]}]